* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: Arial, sans-serif;
    
}

html {
    height: 100%;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}



.parallax-section {
    height: 150vh;
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: white;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.8);
    font-size: 2em;
}

#logo {
    width: 500px;
    height: 500px;
    border-radius: 100%;
    opacity: 1;
    position: relative;
    top: -300px;
    
}

#home {
    position: relative;
    background-image: url("Logo.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#home::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.692); 
    z-index: 0; 
}

#home * {
    position: relative;
    z-index: 2;
}


#welcome {
    position: relative;
    background-image: url("Story_Ark_2.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#welcome::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.356); 
    z-index: 0; 
}

#welcome * {
    position: relative;
    z-index: 2;
}

#favlink {
    position: relative;
    background-image: url("Link2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#favlink::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.295); 
    z-index: 0; 
}

#favlink * {
    position: relative;
    z-index: 2;
}

#resume {
    position: relative;
    background-image: url("resume.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#resume::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.425); 
    z-index: 0; 
}

#resume * {
    position: relative;
    z-index: 2;
}

#voyage {
    position: relative;
    background-image: url("Marisol2.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#voyage::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.226); 
    z-index: 0; 
}

#voyage * {
    position: relative;
    z-index: 2;
}


#feedback {
    position: relative;
    background-image: url("Contact.gif");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#feedback::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.308); 
    z-index: 0; 
}

#feedback * {
    position: relative;
    z-index: 2;
}


.content-selection {
    position: relative;
    padding: 50px 15px;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    z-index: 1;
}

.content-selection::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("banner.png");
    background-size: 2560px 1440px;
    background-repeat: no-repeat;
    background-position: center -200px;
    opacity: 0.85; 
    pointer-events: none; 
    z-index: -1;
}



h1, h2 {
    margin-bottom: 20px;
}

p {
    font-size: .89em;
    line-height: 1.6em;
    max-width: 600px;
    margin: 0 auto;
}


a:hover {
    color:rgba(40, 169, 255, 0.945);
    text-decoration: underline;
}

a:visited {
    color:rgb(194, 194, 194);
}

a {
    color:rgb(255, 255, 255);
    text-decoration: none;
}
