body {
    line-height: 1;
    font-family: 'Open Sans', Arial, sans-serif;
    color: #fff;
    background: #000; 
    scroll-behavior: smooth; 
}

nav#navbar {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    background: #333; 
    z-index: 1000;
}

nav#navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav#navbar ul li {
    margin: 0 10px;
}

nav#navbar ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
}

section {
    padding: 50px;
    margin-top: 50px; 
}


h2 {
    font-size: 35px;
    color: #ffffff; 
    margin-bottom: 20px;
    padding-top: 60px; 
    position: relative;
}

p {
    font-size: 20px;
    color: #cccccc; 
}

.character {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.character-portrait {
    width: 300px; 
    height: auto; 
    margin-right: 20px;
    border: 2px solid #4db8ff; 
}

.character-description {
    background: rgba(0, 0, 0, 0.6); 
    padding: 10px;
    border-radius: 8px;
    color: #ffffff; 
    flex-grow: 1;
}

.character-description h3 {
    color: #4db8ff; 
}